<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.idhub.wallet">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.idhub.base.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WalletAppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".auth.AuthInfoActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".assets.CollectionOptionsActivity" />
        <activity android:name=".assets.CollectionTransactionActivity" />
        <activity android:name=".assets.CollectionDetailActivity" />
        <activity android:name=".assets.CollectionListActivity" />
        <activity android:name=".assets.ClaimsActivity" />
        <activity android:name=".wallet.token.activity.TokenRemoveActivity" />
        <activity android:name=".setting.UserInfoShowActivity" />
        <activity android:name=".common.zxinglib.QrCodeActivity" />
        <activity android:name=".setting.LanguagesActivity" />
        <activity android:name=".setting.SettingsActivity" />
        <activity android:name=".createmanager.walletrecover.WalletIdentityRecoveryActivity" />
        <activity android:name=".setting.AboutWeActivity" />
        <activity android:name=".wallet.token.activity.Erc1400DetailActivity" />
        <activity android:name=".setting.NodeSettingActivity" />
        <activity android:name=".setting.TransactionDetailActivity" />
        <activity
            android:name=".createmanager.walletimport.ImportWalletActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".setting.message.moretransaction.MoreTransactionMessageActivity" />
        <activity android:name=".setting.message.HistoryMessageActivity" />
        <activity android:name=".dapp.Web3Activity" />
        <activity android:name=".me.information.UploadIDHubInformationActivity" />
        <activity android:name=".me.information.UploadInformationTypeActivity" />
        <activity android:name=".createmanager.UploadUserBasicInfoActivity" />
        <activity
            android:name=".me.information.UploadFileActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".me.information.STCompliantInvestorActivity" />
        <activity android:name=".me.information.AccreditedPurchaserActivity" />
        <activity android:name=".me.information.AccreditedInvestorActivity" />
        <activity android:name=".me.information.IDHubSVIPActivity" />
        <activity android:name=".me.information.IDHubVIPActivity" />
        <activity android:name=".createmanager.UpgradeActivity" />
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".createmanager.IdentityManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".createmanager.walletcreate.InputPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".createmanager.walletcreate.MnemonicBackupHintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".createmanager.walletcreate.MnemonicBackupPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".createmanager.walletcreate.MnemonicBackupConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.manager.WalletManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.info.WalletInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.export.ExportWalletContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.token.activity.TokenManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.transaction.TransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.transaction.SendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.transaction.ReceiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WalletSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wallet.transaction.SendConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.zxinglib.widget.crop.CropImageActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.idhub.wallet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/wallet_file_paths" />
        </provider>

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
    </application>

</manifest>