<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idhub.wallet">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WalletAppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".common.zxinglib.QrCodeActivity">
        </activity>
        <activity android:name=".setting.LanguagesActivity" />
        <activity android:name=".setting.SettingsActivity" />
        <activity android:name=".createmanager.walletrecover.WalletIdentityRecoveryActivity" />
        <activity android:name=".setting.AboutWeActivity" />
        <activity android:name=".wallet.token.Erc1400DetailActivity" />
        <activity android:name=".setting.NodeSettingActivity" />
        <activity android:name=".setting.TransactionDetailActivity" />
        <activity android:name=".createmanager.walletimport.ImportWalletActivity" />
        <activity android:name=".setting.message.moretransaction.MoreTransactionMessageActivity" />
        <activity android:name=".setting.message.HistoryMessageActivity" />
        <activity android:name=".dapp.Web3Activity" />
        <activity android:name=".me.information.UploadIDHubInformationActivity" />
        <activity android:name=".me.information.UploadInformationTypeActivity" />
        <activity android:name=".createmanager.UploadUserBasicInfoActivity" />
        <activity android:name=".me.information.UploadFileActivity" />
        <activity android:name=".me.information.Level5Activity" />
        <activity android:name=".me.information.Level4Activity" />
        <activity android:name=".me.information.Level3Activity" />
        <activity android:name=".me.information.Level2Activity" />
        <activity android:name=".me.information.Level1Activity" />
        <activity android:name=".createmanager.UpgradeActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".createmanager.IdentityManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".createmanager.walletcreate.InputPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".createmanager.walletcreate.MnemonicBackupHintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".createmanager.walletcreate.MnemonicBackupPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".createmanager.walletcreate.MnemonicBackupConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.walletsetting.WalletSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.manager.WalletManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.export.ExportWalletContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.token.TokenManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.transaction.TransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.transaction.SendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.transaction.ReceiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WalletSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wallet.transaction.SendConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.zxinglib.widget.zing.MipcaActivityCapture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.zxinglib.widget.crop.CropImageActivity"
            android:screenOrientation="portrait" />
    </application>

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>