<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idhub.wallet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/WalletAppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".identitymanager.IdentityManagerActivity" />
        <activity android:name=".identitymanager.identitycreate.InputPasswordActivity" />
        <activity android:name=".identitymanager.identitycreate.MnemonicBackupHintActivity" />
        <activity android:name=".identitymanager.identitycreate.MnemonicBackupPreviewActivity" />
        <activity android:name=".identitymanager.identitycreate.MnemonicBackupConfirmActivity" />
        <activity android:name=".wallet.walletsetting.WalletSettingActivity" />
        <activity android:name=".wallet.manager.WalletManagerActivity" />
        <activity android:name=".wallet.export.ExportWalletContentActivity" />
        <activity android:name=".wallet.token.TokenManagerActivity" />
        <activity android:name=".common.qrCode.QRCodeScanActivity" />
        <activity android:name=".wallet.transaction.TransactionActivity" />
        <activity android:name=".wallet.transaction.SendActivity" />
        <activity android:name=".wallet.transaction.ReceiveActivity"></activity>
    </application>

</manifest>